$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #df0b63;
$red: #dc3545;
$white: white;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$black: #000000;

:root {
  --bg-color-1: #11101d;
  --contrast-color: #322f55;
  --contrast-color-after: #1d1b31;
  --bg-color-2: #242424;
  --font-color: #fff;
  --font-color-dimmed: #e4e9f7;
}

[data-theme="dark"] {
  --bg-color-1: #11101d;
  --contrast-color: #322f55;
  --contrast-color-after: #1d1b31;
  --bg-color-2: #242424;
  --font-color: #fff;
  --font-color-dimmed: #e4e9f7;
}

[data-theme="light"] {
  --bg-color-1: #fff;
  --contrast-color: #e4e9f7;
  --contrast-color-after: #c8cedf;
  --bg-color-2: #f0f0f0;
  --font-color: #11101d;
  --font-color-dimmed: #1d1b31;
}